@import url("header.css");
body{
    background-color: black;
}

body>h2{
    padding:4rem;
    text-align: center;
}

.statement{
    padding:4rem;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: url("/photos/adkryp.jpg");
    background-size:100% 100% ;
    background-repeat: no-repeat;
    background-position: center;
}

.statement>h1{
    background-color:rgba(0, 0, 0, 0.541);
    border-radius: 10px;
    padding:1rem;
}

.our-story,.our-mission,.charity{
    padding:4rem;
    max-height:fit-content;
    
}
.our-story{
    border-bottom:1px solid var(--blue);;
}

.our-story>p{
    padding:1rem;
    width: 70%;
   
}

.our-mission{
    width:70%;
}

.founders{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
   
    
}


@keyframes gradient-bg {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@media screen and(max-device-width:840px){

    .timeline{
        width:100%;
        margin:0 auto;
    }
    .timeline-item-left,.timeline-item-right{
        position:static;
    }

}





.timeline{
   
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    text-align:center;
    height: fit-content;
    width:100%;
    margin: 0 auto;   
  
}

.timeline-bar{
    height:100%;
    width:1rem;
    border-radius: 25px;
    background-color: var(--blue);
    position: absolute;
    left:50%
   

}

.timeline-item-left,.timeline-item-right{
    z-index: -1;
    padding:2rem;
    height:fit-content;
    width:50%;
    text-align: left;

    background: linear-gradient(-45deg, var(--lime), #4f8289, var(--blue));
    
    animation: gradient-bg 5s ease infinite;
    background-size:400% 400%;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.timeline-item-left{
    
    position:relative;
    right:5rem;
  
}

.timeline-item-right{
    
    position:relative;
    left:5rem;
   


}


.content-divide{
    background-color: white;
    border-radius: 25px;
    padding:4rem;
    width:100%;
    margin:1rem;
    color:black;

    display: flex;
    align-content: baseline;
    justify-content: center;
}

.vert-line{
    background-color: black;
    height:100%;
    width:.5rem;
    border-radius: 25px;
}

@media screen and (max-device-width:840px){
    .content-divide{
        background-color: white;
        border-radius: 25px;
        padding:4rem;
        width:100%;
        margin:1rem;
        color:black;
    
        display: flex;
        flex-direction: column;
        align-content: baseline;
        justify-content: center;
    }

    .vert-line{
        background-color: black;
        height:.5rem;
        width:100%;
        border-radius: 25px;
    }

}

#group-photo{
    height:10rem;
    padding:1rem;
    
    
}

.leaders{
    padding:1rem;
    
}