/*import the headers and fonts from google*/

@import url("header.css");

/*every element must have the font, color white, no margins*/ 

/*body will take up all space, really not needed but nice to specify*/
body{
    background-color: black;
    width: 100%;
}

body>*{
 border: 1px solid var(--blue);
}
/*myVideo acts as the container for the video element, nothing more.*/
#myVideo{
    width: 100%;
  height: auto;
  position: fixed;
  z-index: -1;

}
video{
    width: 100%;
    height:inherit;
}

@media screen and (max-width: 480px) {
    /*solved a big problem, resizing the background image but keeping it fullscreen*/
    video{
        height: 100%;
         width: 177.77777778vh; /* 100 * 16 / 9 */
         min-width: 100%;
         min-height: 56.25vw; /* 100 * 9 / 16 */
     }
    
  }



/*Standard for all slides styling*/
.container{
    height: 20vh;
    padding: 4rem;
    background-color: black;
    text-align: center;
}


/*Specific slide styling in chronological order*/

/*first slide styling*/
#firstslide{
   height: 100vh;

   display:flex;
   flex-direction: column;
   
   /*added a little tint to make the background look darker- changes the perspective a bit*/
   background-color: rgba(0, 0, 0, 0.5);
   background-size:cover ;
   background-repeat: no-repeat;
   justify-content: center;
}
#lock_img{
    width:10rem;
    padding:3rem;
}
/*all text within containers will be centered*/


#secondslide{
    height:100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
   
}
#secondslide>h3{
    padding: 1rem;
    text-align: left;
    font-weight: 200;

}


#thirdslide{
    background: rgba(0, 0, 0, 0.596);
    padding:2rem;
    height: fit-content;
   
}

#thirdslide>ul{
    display:flex;
    flex-direction: row;
    width: 100%;
    

}
@media screen and (max-device-width:840px){

    #thirdslide{
        background: rgba(0, 0, 0, 0.596);
    padding:2rem;
    height: fit-content;
   
    
       
    }
    
    #thirdslide>ul{
        display:flex;
        flex-direction: column;
        width: 100%;
        justify-content: left;
    
    }
    #thirdslide>li{
        width:100%;
    }
}

#fourth-heading{
    text-align: center;
    background-color: aliceblue;
    padding:1rem;
    color: black;
    font-size: 2rem;
}
#fourthslide{
    height: fit-content;
    display: grid;
    grid-template-columns: auto auto auto;
  
    justify-content: center;
    width:100%;
    background-color: aliceblue;
}
#fourthslide>img{
    width: 60%;
}


#testimonials{
    height: fit-content;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.767);
  
  
}

.users{
    width:100%;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 1rem;
    padding:1rem;
    text-align: left;
   
 
}
.users>h3{
    text-align: left;
    font-size: small;
    padding:2rem;
}

/*second slide styling*/
#fifthslide{
    height: 50vh;
    flex-direction: column;
    justify-content: center;

}

#fifthslide>h4:last-of-type{
    background-color:rgb(88, 141, 159);
    border-radius: 50px;
    width:10rem;
    padding:2rem;
}

